<app-player-board [player]="Player.Player1" [encodedMessage]="cryptoService.messageP1$ | async"
    (keyGenerationEvent)="onKeyGeneration()"></app-player-board>
<app-player-board [player]="Player.Player2" [encodedMessage]="cryptoService.messageP2$ | async"></app-player-board>

<!-- <app-receiver [message]="encodedMessage"></app-receiver>
<hr />
<app-emitter (formEvent)="onMessageEmitterEvent($event)"></app-emitter> -->

<br /><br />
Clé publique : {{ cryptoService.publicKey }} <br />
Message encodé : {{ encodedMessage }}